datasets/*
indexes/*
models/*
results/*
output/*
examples/quick_start/output/*
*.log
tests/*
webui_configs/*
examples/methods/output/*
!.gitkeep

**/.history
*.pyc
*.egg-info
build/
.idea/
dist/*
upload_pypi.sh
=0.4.1
